body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.start_wrap {
  background-image: url(/images/green.jpg);
  /*     background-size: 100% 100%; */
  height: 130vh;
  width: 100vw;
  text-align: center;
  padding: 15% 0 0 0;
  /*     background:url(../images/annie-spratt-NrflUuJJK0I-unsplash.jpg) */
  /* 비디오나 이미지 넣기 */
}

main #my_skills .my_skills_ul li img {
  width: 30px;
  height: auto;
  margin-right: 5px;
}


.start_wrap p {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.start_wrap h1 {
  color: #fff;
  font-size: 3rem;
  line-height: 1.7;
  font-weight: bold;
}

.start_wrap .year_title {
  font-size: 25px;
  font-weight: bold;
}

.start_wrap .info {
  margin-bottom: 20px;
}

.main_wrap {
  background: #FAFAFA;
  /* background: #F5F5F5; */
}

.swiper-container {
  position: relative;
}

.swiper-button-prev {
  position: absolute;
  color: #000;
}

.swiper-button-prev:hover {
  color: darkgreen;
}

.swiper-button-next {
  position: absolute;
  color: #000;
}

.swiper-button-next:hover{
  color: darkgreen;
}


header {
  background-color: #B1E6D1;
  color: #fff;
  padding: 35px;
  text-align: center;
}

nav ul li a {
  font-size: 27px;
  font-weight: bold;
  padding: 0px 30px;
}

/* 마우스를 올렸을 때의 네비게이션 바 링크 색상 */
nav ul li a:hover {
  color: darkgreen
  /* 여기에 원하는 색상을 지정하세요 */
}

.start_wrap .start_down:hover {
  color: darkgreen;

}
/* 내리기 */
.start_wrap .start_down {
  color: #fff;
  font-weight: bold;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
/* 소개 기술능력 */
nav ul li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}

/* 진행한 프로젝트까지  */
section {
  /* padding: 40px; */
  padding: 0 60px;

}

#my_skills .my_skills_ul {
  display: flex;
  justify-content:start; /* 가로 방향 가운데 정렬 */
  margin-top: 30px;
}
/* 111 */
#my_skills .my_skills_ul li {
  display: contents; 
  padding: 10px; 
  margin: 0 10px; 
}

#my_skills .my_skills_ul li img {
  width: 10px;
  margin-right: 10px; 
}


#my_skills .my_skills_ul li p {
  font-size: 16px; /* 텍스트 크기 조정 */
  margin-top: 10px;
  margin-right: 35px;
  font-weight: bold;
}

/* 기술능력 */
section h2 {
  font-weight: bold;
  font-size: 25px;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}

/* 진행한 프로젝트 */
#projects {}

img {
  max-width: 100%;
  height: auto;
}

main #about img {
  width: 20%;
  margin-top: 40px;
  margin-bottom: 30px;
}

main #about h2 {
  padding-bottom: 30px;
  font-size: 27px;
}

main #about p {
  font-weight: bold;
  /*   font-size: 20px; */
}

main #my_skills {
  margin: 100px 0px 100px 0px;

}

/* 진행한 프로젝트에 사진 센터 0229 */
main #projects .swiper-wrapper {
  text-align: center;
  padding: 30px 0px 30px 0px;
}

/* 이미지 */
main #projects .swiper-wrapper .swiper-slide img {
  width: 400px;
  height: 198px;
}

main #projects .swiper-wrapper .swiper-slide {

  font-size: 20px;
  padding: 0px 10px 0px 10px;
}

main #projects .swiper-wrapper p {
  font-size: 20px;
  font-weight: bold;
}

main #my_skills .my_skills_ul {
  text-align: center;
}

main #my_skills .my_skills_ul li img {
  width: 2.5%;
  margin-right: 5px;
}

header h1 {
  font-size: 40px;
}

header nav li {
  margin-right: 27px;

}

.main_wrap {
  margin: 0 auto;
  max-width: 100%;
}

footer {
  background: #B1E6D1;
  display: flex;
  padding: 0px 30px 0px 30px;
}

.mail a img {
  padding-left: 5px;
  width: 25px;
  height: 25px;
}

.main_wrap .addr{
  margin-left: 70px;
}

.addr h1 {
  font-size: 25px;
  padding: 50px 0px 20px 0px;
  border-bottom: 1px solid #000;

}

.main_wrap .mail {

  padding: 0 40px;
  margin-top: 30px;
}

.main_wrap .mail h1 {
  font-size: 25px;
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid #000;

}

.mail form {
  display: none;
}

.main_wrap .mail form input {
  /* display: flex; */
  background: #fff;
  width: 300px;
  height: 47px;
  border-radius: 5px;
  margin: 20px 0px 20px 0px;
  display: block;
  padding: 0px 0px 5px 10px;
}

.main_wrap .mail form textarea {
  margin-bottom: 20px;
  width: 300px;
  border-radius: 5px;
  padding: 12px 0px 0px 10px;
}

.main_wrap .mail form button {
  /* background: #fff;
width: 150px;
height: 47px;
text-align: center;
display: block;
justify-content: center;
border-radius: 5px;
font-weight: bold; */
  color: #000;
  margin-top: 20px;
}

.main_wrap .mail form .anchor {
  border-radius: 5px;
}

/* 메일문의 사람입니다. 체크 박스 */
.main_wrap .mail .h-captcha iframe {
  background: #fff;
  border-radius: 5px;
}

/* 각 섹션이 스크롤될 때 페이드인 효과 적용 */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 각 섹션에 애니메이션 적용 */
.start_wrap {
  animation: fadeIn 1s ease 0.5s both;
}

/*   header {
    animation: fadeIn 1s ease 1s both;
  } */
